<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <div class="logo-box">
        <img src="/assets/images/sponsors/AHS.png" alt="AHS logo" />
      </div>
    </div>
    <div class="slide">
      <div class="logo-box">
        <img src="/assets/images/sponsors/Revatek.png" alt="Revatek logo" />
      </div>
    </div>
    <div class="slide">
      <div class="logo-box">
        <img src="/assets/images/sponsors/GatesFoundation.png" alt="Bill & Melinda Gates Foundation logo" />
      </div>
    </div>
    <div class="slide">
      <div class="logo-box">
        <img src="/assets/images/sponsors/JohnDeere.png" alt="John Deere logo" />
      </div>
    </div>
    <div class="slide">
      <div class="logo-box">
        <img src="/assets/images/sponsors/PriceEngineering.png" alt="Price Engineering logo" />
      </div>
    </div>
    <div class="slide">
      <div class="logo-box">
        <img src="/assets/images/sponsors/Haas.png" alt="Haas logo" />
      </div>
    </div>
    <div class="slide">
      <div class="logo-box">
        <img src="/assets/images/sponsors/DPI.jpg" alt="DPI logo" />
      </div>
    </div>

    <!-- repeat for all sponsors -->
  </div>
</div>
