body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}

header {
  padding: 3rem;
  text-align: center;
  background-color: #020617;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}
